PORT = 8090
PROXY_URL = "https://www.thecocktaildb.com"

# mongo
MONGO_CONN = mongodb://localhost:27018

# postgres
POSTGRES_DB = treblle
POSTGRES_USER = postgres
POSTGRES_PASSWORD = postgres
DB_CONN = "host=localhost user=${POSTGRES_USER} password=${POSTGRES_PASSWORD} dbname=${POSTGRES_DB} port=5332 sslmode=disable"
